fastapi[standard]
uvicorn
starlette
pymongo
python-dotenv
pydantic[email]
python-multipart
aiofiles
boto3
botocore
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
google-auth
httpx
qrcode[pil]
Pillow
celery[redis]
redis
slowapi
requests
